<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/Estilo3.css">
    <link rel="icon" href="/imagenes/fondo.jpg">


    <title>INICIOSESIÓN</title>
</head>
<body>
    <div class="museum-sign">
        <h1>Inicio Sesión Consedido</h1>

    </div>

    
    <button type="button" id="btnlogout">Cerrar Sesión</button>
    
    <script type="module" src="/controllers/home.js"></script>
</body>
</html>